.header-main{
    width: 100%;
    height: fit-content;
    color: var(--secondary-color);
    box-shadow: 0 5px 10px var(--secondary-color);
    /* display: flex; */
    align-items: center;
}
.row1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.row1 h1{
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
    font-family: 'Bodoni Moda', serif;
}
.row2{
    display: flex;  
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* margin-right: 20vh; */
   
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
 
    /* position:absolute; */
    margin-top: 3rem;
 
}
.search input{
    outline: 0;
    /* border: 0; */
  
    border: 1px solid;
    width: 360px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    position: absolute;
}
.search button{
    outline: none;
    border:none;
    height: 35px;
    padding: 0 0.5rem;
    position: relative;
  margin-left: 28rem;
  border-radius: 10px;
  
}
.h4{
    margin:2rem 5rem ;
}
.container-card{
    width: 100%;
 
    /* position: absolute; */
    height: fit-content;
    /* height: 100vh; */
    margin:  0 auto ;
    /* margin-top: 100px; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:20px;
    box-sizing: border-box;
}
.card{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(212,185,150,.5);
    transition: .5s;
    text-align: center;
    position: relative;
    
}
.card:hover{
    transform: scale(0.9);
    background-color: rgba(255,255,255,0.8);
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}
.card .bottom{
    display: flex;
    flex-direction: column;
}
.card .bottom .title{
    font-size: 14px;
    margin-bottom: 32px;
}
.card .bottom .amount{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem;
}
.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}
@media screen and (max-width: 404px) {
    .header-main{
     
        width: 100%;
        height: fit-content;
        color: var(--secondary-color);
        box-shadow: 0 5px 10px var(--secondary-color);
       
        align-items: center;
       
        
    }
    .search input{
        outline: 0;
        border: 1px solid;
        width: 300px;
        height: 35px;
        padding: 0 0.5rem;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        position: absolute;
    }
    
    .search button{
        outline: none;
        border: none;
        height: 35px;
        padding: 0 0.5rem;
        position: relative;
      margin-right: 3rem;
      border-radius: 10px; 
    }
    .search{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    .row2{
        /* position: absolute; */
        top:10px;
        right: 7px;
        text-align: center;
    }
    .row1 h1{
        font-size: 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 0px;
        font-family: 'Bodoni Moda', serif;
      
    }
    .container-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

    
} 



